@model UIA.Controllers.HomeController.FightModel

@{
}

<form style="display: flex; flex-direction: column" asp-controller="Home" asp-action="Fight" method="post">
    Name:
    <input name="Name" value="@Model.SavedPlayer.Name"/>
    HitPoints:
    <input name="HitPoints" value="@Model.SavedPlayer.HitPoints"/>
    AttackModifier:
    <input name="AttackModifier" value="@Model.SavedPlayer.AttackModifier"/>
    AttackPerRound:
    <input name="AttackPerRound" value="@Model.SavedPlayer.AttackPerRound"/>
    Damage:
    <input name="Damage" value="@Model.SavedPlayer.Damage"/>
    DiceType:
    <input name="DiceType" value="@Model.SavedPlayer.DiceType"/>
    DamageModifier:
    <input name="DamageModifier" value="@Model.SavedPlayer.DamageModifier"/>
    Weapon:
    <input name="Weapon" value="@Model.SavedPlayer.Weapon"/>
    AC:
    <input name="AC" value="@Model.SavedPlayer.AC"/>
    <input type="submit"/>
</form>

<div style="display: flex; ">
    <div style="margin-right: 100px">
        <p style="color:blue;">Player:</p>
        @Html.DisplayFor(fight => fight.Player)
    </div>
    <div style="margin-left: 300px;">
        <p style="color:red;">Monster:</p>
        @Html.DisplayFor(fight => fight.Monster)
    </div>
</div>

@foreach(var str in Model.Log.Split('\n'))
{
<p>@str</p>
}