@model UIA.Models.Fight

@{
}

@if (Model.PlayerWon is not null)
{
    <span>Игра окончена резултат: @Model.PlayerWon</span>
    <a asp-controller="Home" asp-action="Index">Go back</a>
}
else
{<div style="display: flex;">
     <div style="margin-right: 100px">
         Player:
         @Html.DisplayFor(fight => fight.Player)
     </div>
     <div>
         Monster:
         @Html.DisplayFor(fight => fight.Monster)
     </div>
 </div>
    <div style="margin-top: 100px">
        @Html.DisplayForModel()
    </div>
    <form method="get">
        <input type="hidden" name="fightId" value="@Model.FightId"/>
        <input type="submit"/>
    </form>
}